 /* body {

    font-family: 'Kanit', sans-serif !important;
}

.ui.header {
    font-family: 'Kanit', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kanit', sans-serif !important;
}

.ui.button {
    font-family: 'Kanit', sans-serif !important;
}

.ui.items>.item>.content>.header:not(.ui){
    font-family: 'Kanit', sans-serif !important;
}

.ui.statistic>.value~.label {
    font-family: 'Kanit', sans-serif !important;
}
.ui.inverted.green.statistic>.value{
    font-family: 'Kanit', sans-serif !important;
}

.ui.label> {
    font-family: 'Kanit', sans-serif !important;
}

.ui.card>.content>.header:not(.ui) {
    font-family: 'Kanit', sans-serif !important;

}
 */

.ui {
    font-family: 'Kanit', sans-serif !important;
 }